@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
  box-sizing: border-box;

}

body {
  color: var(--black);
  font-family: Opensans NC, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}