@media (prefers-color-scheme: dark) {
  body {
    background-color: #1f2023;
    color: #dadada;
  }
}

.navBar {
  display: flex;
  justify-content: center;
}

.parent {
  padding: 10px;
  margin: auto;
  justify-content: space-evenly;
}

.child {
  background-color: white;
  padding: 15px;
}

.parent:hover {
  color: red
}